{
    '': True,
    'disable_known_hosts': False,
    'effective_roles': [

    ],
    'tasks': [
        'get_hosts'
    ],
    'linewise': False,
    'show': None,
    'password': None,
    'key_filename': None,
    'abort_on_prompts': False,
    'skip_unknown_tasks': False,
    'reject_unknown_hosts': False,
    'skip_bad_hosts': False,
    'use_ssh_config': False,
    'roledefs': {
        'mysql': 'hadoop@192.168.19.11'
    },
    'gateway': None,
    'gss_auth': None,
    'keepalive': 0,
    'eagerly_disconnect': False,
    'rcfile': '/home/congsl/.fabricrc',
    'path_behavior': 'append',
    'hide': None,
    'sudo_prefix': "sudo -S -p '%(sudo_prompt)s' ",
    'lcwd': '',
    'no_agent': False,
    'forward_agent': False,
    'remote_interrupt': None,
    'port': '22',
    'shell': '/bin/bash -l -c',
    'version': '1.13.1',
    'use_exceptions_for': {
        'network': False
    },
    'connection_attempts': 1,
    'hosts': [
        'root@www.livedrof.com',
        'hadoop@192.168.19.11'
    ],
    'gss_deleg': None,
    'new_style_tasks': True,
    'cwd': '',
    'abort_exception': None,
    'real_fabfile': '/data/source/self/fabric-demo/tutorial/example/fabfile.py',
    'passwords': {

    },
    'sudo_password': None,
    'host_string': 'root@www.livedrof.com',
    'shell_env': {

    },
    'always_use_pty': True,
    'colorize_errors': False,
    'exclude_hosts': [

    ],
    'all_hosts': [
        'root@www.livedrof.com',
        'hadoop@192.168.19.11'
    ],
    'sudo_prompt': 'sudo password:',
    'again_prompt': 'Sorry, try again.',
    'echo_stdin': True,
    'user': 'root',
    'gss_kex': None,
    'command_timeout': None,
    'path': '',
    'local_user': 'congsl',
    'combine_stderr': True,
    'command_prefixes': [

    ],
    'dedupe_hosts': True,
    'warn_only': False,
    'no_keys': False,
    'sudo_passwords': {

    },
    'roles': [

    ],
    'fabfile': 'fabfile',
    'use_shell': True,
    'host': 'www.livedrof.com',
    'pool_size': 0,
    'system_known_hosts': None,
    'prompts': {

    },
    'output_prefix': True,
    'command': 'get_hosts',
    'timeout': 10,
    'default_port': '22',
    'ssh_config_path': '/home/congsl/.ssh/config',
    'parallel': False,
    'sudo_user': None,
    'ok_ret_codes': [
        0
    ]
}